<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>问答管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all" th:href="@{/layuistate/lib/layui-v2.5.5/css/layui.css}">
    <link rel="stylesheet" href="../css/public.css" th:href="@{/layuistate/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form" action="">

                    <div class="layui-inline">
                        <label class="layui-form-label">模糊查询</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="key_word" name="key_word" >
                        </div>
                    </div>

                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <button class="layui-btn" id="searchBtnByKey" lay-submit
                                    lay-filter="formDemo" data-type="reload" style="margin-left: 15px">
                                <i class="layui-icon layui-icon-search"></i> 查询
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">

        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">

            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="delete">删除</a>
        </script>   ··

    </div>
</div>
<script src="js/jquery.min.js" th:src="@{/layuistate/lib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script src="lib/layui-v2.5.5/layui.js" th:src="@{/layuistate/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script type="text/javascript" src="js/xadmin.js" th:src="@{/layuistate/js/xadmin.js}"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/msxd/questAndAnswer/findQuestPage',
            xhrFields: {
                withCredentials: true
            },
            method:'get',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [
                [{field: 'id', width: 120, title: '序号'},
                    {field: 'quest_id', width: 120, title: '提问者学号'},
                    {field: 'quest_content', width: 240, title: '提问者内容', sort: true},
                    {field: 'quest_date', width: 160, title: '提问者日期'},
                    {field: 'answer_id', title: '回答者学号', width: 120},
                    {field: 'answer_content', width: 240, title: '回答者内容', sort: true},
                    {field: 'answer_date', width: 160, title: '回答日期', sort: true},
                    {field: 'quest_statue', width: 200, title: '问题状态', sort: true},
                    {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
                ]
            ],
            // limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            skin: 'line',
            parseData:function (res) {
                console.log(res);
                return{
                    "code":0,
                    "msg":"",
                    "count":220,
                    "data":res
                };
            }
            //成功回调函数
            // parseData: function (res) {
            //     console.log("hello");
            //     console.log(res.data);
            // }
        });


        //点击查询按钮 多条件查询，重载表格
        $('#searchBtnByKey').on('click', function() {
            console.log( $('#key_word').val());
            table.reload('currentTableId', {
                method : 'post',
                where : {
                    key : $('#key_word').val(),
                },
                page : {
                    curr : 1
                }
            });
            return false;
        });
        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息',

            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            console.log(data)
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var url = "/msxd/user/toAdd";
                var index = layer.open({
                    title: '添加',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '40%'],
                    content: url,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                alert(JSON.stringify(data))
            }
        });



        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;

            if (obj.event === 'edit') {
                var url = "/msxd/user/selectUserById?id="+obj.data.id;
                var index = layer.open({
                    title: '编辑',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['40%', '40%'],
                    content: url,
                });
                // layer.confirm('确认要编辑吗？',function(index){
                //     var url = "/user/userUpdate?id="+obj.data.id;
                //     // alert(act_id);
                //     x_admin_show('修改用户',url,600,650);
                // });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                // layer.confirm('真的删除行么', function (index) {
                //     // obj.del();
                //     // alert(obj.data.log_id)
                //     // alert(JSON.stringify(data))
                //     // layer.close(index);
                // });
                layer.confirm('确认删除本条记录吗?', { btn: ['是','否'],btn1: function(index){
                        // alert(obj.data.log_id);
                        $.ajax({
                            url: '/msxd/questAndAnswer/deleteQuest',
                            type: "POST",
                            xhrFields: {
                                withCredentials: true
                            },
                            data:{"id":obj.data.id},
                            success:function () {

                                layer.msg("删除成功");
                                layer.close(index);
                                window.location.reload();
                            }
                        });

                    },
                    btn2: function(index){
                        layer.msg("取消");
                    }

                })
            }
            else if(obj.event === 'download'){
                layer.confirm('确认下载当前日志文件吗?', { btn: ['是','否'],btn1: function(index){
                        // alert(obj.data.log_id);
                        window.location.href = "http://localhost:8080/log/downloadByUserId?log_id="+obj.data.log_id;
                        layer.close(index);
                    },
                    btn2: function(index){
                        layer.msg("取消");
                    }

                })
            }
        });

    });
</script>

</body>
</html>